body {
    font-family: "Meiryo UI", sans-serif;
    background-color: #f0f8f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #005f4b;
    text-align: left;
}

h2, h3 {
    color: #2c5f2d;
    text-shadow: 1px 1px 2px #aaa;
}

h1 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #2c5f2d;
    padding-bottom: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ナビゲーションバーのスタイル */
nav {
    background-color: #3e8c48; /* 薄めの緑色 */
    padding: 0; /* 余白をなくす */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影をつける */
}

nav ul.menu {
    list-style: none; /* リストスタイルをなしに */
    margin: 0;
    padding: 0;
    display: flex; /* フレックスボックスで横並びに */
    justify-content: start;
    width: 100%; /* 幅を100%に */
}

nav ul.menu li {
    margin: 0;
    flex: 0 1 auto; /* 必要な幅のみ確保し高さを自動調整 */
}

nav ul.menu li a {
    display: block; /* ブロック表示に変更 */
    text-align: center; /* 中央揃え */
    color: #f0f8f5; /* 白っぽい色のテキスト */
    text-decoration: none; /* 下線をなくす */
    font-weight: bold; /* 太字にする */
    padding: 10px; /* パディングを追加 */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

nav ul.menu li a:hover {
    background-color: #2c5f2d; /* ホバー時の背景色 */
}
